---

import RiveComponent from "../../global/animations/riveComponent";

---
<section id="#home" >



	<div class="rivecomp web">

	<RiveComponent 
	src="/rive/kaural.riv" 
	artboard="home_seccion1t"
	stateMachines="State Machine 1"
	autoplay={true} 
	transition:persist 
	fit="fill"
	client:only/>

	</div>
	<div class="rivecomp movil">

	<RiveComponent 
	src="/rive/kaural.riv" 
	artboard="home_seccion1_movil"
	stateMachines="State Machine 1"
	autoplay={true} 
	transition:persist 
	fit="fill"
	client:only/>

	</div>



	
</section>
		  
	<style>

		section{
		
			position: relative;
			display: flex;
			flex-direction: column-reverse;
		
			cursor: none;
	
			width: 100vw;
			height: 100vh;
	
		}

		.rivecomp{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			overflow: hidden;
			
		}
		.web{
			display: block;
		}
		.movil{
			display: none;
		}
		@media (max-width: 768px) {
			section{
				cursor: default;
			}
			.web{
				display: none;
			}
			.movil{
				display: block;
			}
			.rivecomp{
			pointer-events: none;
			
		}
		}



	
	
	
	
 </style>