---

import RiveComponent from "../../global/animations/riveComponent";

---
<section id="loremipsun3">

<!--   <RiveComponent 
    src="/rive/kaural.riv" 
    artboard="home_seccion3"
    stateMachines="State Machine 1"
    autoplay={false} 
    transition:persist 
    fit="fitWidth"
	hastext={true}
	textValues={{
		"hs3_titulo": "UN GRAN TITULO",
		"hs3_subtitulo": "Subtitulo muy largo",
		"hs3_descripcion": `Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.`
	  }}
    client:only/>
 -->


	<main class="elmain">
		<div class="left">
			<!-- <div class="title">EL KAURAL</div> -->
			<img class="imagen" src="/image/kaural/kaural_outline2.png" alt="kaural oout line logo">
		</div>
		
		<div class="right">
			<div class="subtitle">LA BANDA</div>
			<div class="description">
				El Kaural es una fuerza creativa emergente en la escena musical de Tijuana, Mexico, que nace en verano del 2020 con la intención de crear su propio universo musical a través de sus letras existenciales y expresión musical rica y diversa, 
				exhibiendo una fusión única de rock, buscando no encasillarse en un solo género musical. Sus fundadores son Álvaro Macías, Christian Corona y Néstor López, encargados de la composición, 
				grabación y dirección artística de la banda, contando con el apoyo de músicos de sesión para sus presentaciones en vivo.</div>
				
			</div>
		</main>
  </section>
  
  <style>
	section {
		width: 100vw;
		height: 75vh;
		background-color: black;
	}
	.elmain {
	align-items: center;

	  justify-content: space-evenly;
	  display: flex;
	  flex-direction: row;
	  width: 100%;
	  height: 100%;

	}
  

	.left {
		display: flex;
	  justify-content: center;
	  align-items: center;
	  text-align: center;
	  width: 100%;
	  height: 50%;

	}
	.right {
		display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;

	  width: 100%;
	  height: 100%;


	}
	.imagen {
		height: 100%;
		width: 100%;
		

		object-fit: contain;
	}
  
  

  
	.subtitle {
	  font-size: clamp(32px, 10vw, 200px);
	  color: rgb(255, 255, 255);
	  text-align: center;
	  font-family: OldPress;
	}
  
	.description {
	  font-size: clamp(14px, 5vw, 34px);

	  color: rgb(255, 255, 255);
	
	  text-align: left;
	  overflow: auto;
	  font-family: OldPress;
	  padding: 24px;
	}
  
	@media (max-width: 768px) {
		section{
			height: 80vh;
			padding: auto;
		}
		.elmain {
		flex-direction: column;
		
	  }
	  .imagen {
		width: 200px;
		height: 200px;

	  }
	  .right {
		padding: 16px;

		justify-content: flex-start;
		align-items: center;
	  }


  	.subtitle {
	  font-size: clamp(16px, 10vw, 50px);
	  color: rgb(255, 255, 255);
	  text-align: center;
	  font-family: OldPress;
	}
	 
	}


  </style>
  
