<section class="section4">
    
    <div class="group">
     
        <div class="relative">
            <div class="background-blur"></div>
            <img src="/image/kauralevento.jpg" alt="Imagen" class="image-hover">
        </div>
        
        <div class="text-container">
            <div class="title">
                EL RITUAL TOUR 2024
            </div>
            <div class="subtitle">
                EL KAURAL
            </div>
            <div class="location">
                <div class="location-text">Proximamente: </div>
                <div class="location-detail">TIJUANA, MX SABADO 12 OCT</div>
            </div>
        </div>
    </div>
</section>

<style>
  .group {
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100%;
    background-color: black;
  }
  
  .relative {
    width: 60%;
    transition: all 0.3s ease;
  }
  
  .group:hover .relative {
    width: 55%;
  }
  
  .background-blur {
    position: absolute;
    inset: 0;
    background-image: url('/image/kauralevento.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(16px);
    padding: 16px;
  }
  
  .image-hover {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0.75;
    transition: opacity 0.3s ease;
  }
  
  .group:hover .image-hover {
    opacity: 1;
  }
  
  .text-container {
    width: 40%;
    transition: all 0.3s ease;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  
  .group:hover .text-container {
    width: 45%;
  }
  
  .title {
    font-size: clamp(24px, 6vw, 8rem);
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: clamp(16px, 4vw, 6rem);
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 0.5rem;
  }
  
  .location {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  .location-text {
    font-size: clamp(14px, 3vw, 2rem);
    color: black;
    margin-right: 0.5rem;
  }
  
  .location-detail {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    align-self: center;
  }

  @media (max-width: 768px) {
    .group {
      display: flex;
      flex-direction: column-reverse;
      height: auto;
      width: 100%;
      background-color: black;
      transition: none;
      pointer-events: none;
    }
    .text-container {
      width: 100%;
      background-color: white;
      align-items: center;
      padding: 20px;
      transition: none;
    }
    .relative {
      width: 100%;
      transition: none;
    }
    .group .text-container .relative {
      width: 100%;
      transition: none;
    }


  }
</style>
