---
---

<div class="sidebar">
<!--   <div class="background-image"></div> -->
  <a href="https://www.instagram.com/el_kaural/" target="_blank" class="social-icon" data-label="Youtube">
    <img src="/icons/redes/youtube.svg" alt="Youtube" />
  </a>
  <a href="https://www.instagram.com/el_kaural/" target="_blank" class="social-icon" data-label="Instagram">
    <img src="/icons/redes/instagram.svg" alt="Instagram" />
  </a>
  <a href="https://www.facebook.com/ElKaural/" target="_blank" class="social-icon" data-label="Facebook">
    <img src="/icons/redes/facebook.svg" alt="Facebook" />
  </a>
  <a href="https://open.spotify.com/artist/0OYvYgu1wZoNPXiT56a9Bb?si=_DTnKGXaSbqh7HCwjv5w2Q" target="_blank" class="social-icon" data-label="Spotify">
    <img src="/icons/redes/spotify.svg" alt="Spotify" />
  </a>
  <a href="https://tiktok.com/@elkaural" target="_blank" class="social-icon" data-label="TikTok">
    <img src="/icons/redes/tiktok.svg" alt="TikTok" />
  </a>
  <a href="https://www.amazon.com/music/player/artists/B0C3HCRTTL/el-kaural" target="_blank" class="social-icon" data-label="Amazon Music">
    <img src="/icons/redes/amazon.svg" alt="Amazon Music" />
  </a>
</div>

<style>
  .sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #d35400;
    width: 5%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    border-radius: 0 50px 50px 0;
    border-right: 2px solid #000000; 
/*     box-shadow: 5px 0 10px #000000;
    -webkit-box-shadow: 5px 0 10px #000000; */
  }

  .background-image {
    position: absolute;
    top: 0;
    left: -5%;
    width: 100%;
    height: 100%;
    background-image: url('/image/effect/sandeffect2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 50;
    border-radius: 0 50px 50px 0;
    /* box shadow al aldo derecho */
    

  }

  .social-icon {
    position: relative;
    display: block;
    width: clamp(50px, 20vw, 75px);
    height: clamp(50px, 20vw, 75px);
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    z-index: 100;
  }

  .social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .social-icon:hover {
    background-color: #000000; /* Naranja oscuro */
  }

  .social-icon::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 110%; /* Ajusta según sea necesario */
    transform: translateY(-50%);
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    font-family: OldPress;
    font-size:xx-large;
    transition: opacity 0.3s ease;
  }

  .social-icon:hover::after {
    opacity: 1;
  }
  /* responsive icons 720p */
  @media (max-width: 1280px) {
    .sidebar {
      position: fixed;
      width: 100%;
      top: 94%;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: row;
      height: 6vh;
      align-items: flex-end;
      border-radius: 25px 25px 0 0;
    }
    .social-icon {
      width: clamp(25px, 6vh, 65px);
      height: clamp(25px, 6vh, 65px);
    }
    .social-icon::after {
      top: -50%;
      left: 50%;
      font-size: medium;
      transform: translateX(-50%);
    }
  }
</style>